@model LIFTWebApp.Models.Lift

@{
    ViewData["Title"] = "Details";
}

<style>
    #padDiv {
        padding-left: 20px;
        padding-right: 20px;
    }
</style>
<div id="padDiv">

    <h1>Details</h1>

    <div>
        <h4>Lift</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateTimePerformed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateTimePerformed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ExercisePerfromed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExercisePerfromed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Weight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reps)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Reps)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.LiftID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>